*{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    margin-left: 10%;
    margin-right: 10%;
}

.header h1{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgb(10, 26, 128);
    color: white;
    font-size: 3rem;
}

.header p{
    margin-left: 5%;
    margin-top: 2rem;
    font-size: 2rem;
}

.choices{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 3rem;
}

.choices i{
    transition: 200ms all;
}

.choices i:hover:first-child{
    color: rgba(10, 26, 128, 0.54);
    cursor: pointer;
    transform: scale(1.15);
}

.choices i:hover:nth-child(2){
    color: rgba(10, 26, 128, 0.54);
    cursor: pointer;
    transform: rotate(90deg);
}

.choices i:hover:last-child{
    color: rgba(10, 26, 128, 0.54);
    cursor: pointer;
    transform: translateX(-1rem);
}

#winner{
    display: flex;
    justify-content: center;
    font-size: 5rem;
    margin-top: 10%;
}